@mixin font($alias, $name, $weight) {
    @font-face {
        font-family: $alias;
        src:
            url("./font/file/" + $name + ".ttf");
        font-weight: $weight;
        font-style: normal;
    }
}